<div class="form-details">
<div class="text-center description-label"><label >9.Description of goods</label></div>

<hot-table #handsontable class="hotTable"
licenseKey="non-commercial-and-evaluation"
 [data]="_data"
[colHeaders]= "true"
[rowHeaders]= "true"
[validator]="validator"
[afterValidate]="onAfterValidate"
[nestedHeaders]="[
['Tariff item number', 'Origin criteria','Description of the goods', 'Gross, weight or other measure']]"
[columnSorting]= "true"
[contextMenu]= "customContextMenu"
  [columns]= "[
    {data: 'tariffItemNumber'},
    {data: 'originCriteria'},
    {data: 'description'},
    {data: 'measure'}
  ]"
  [height]="207"
   [colWidths]="[150,150,1035,200]"
  ></hot-table>
  <p *ngIf="show" [ngStyle]="{'color':'red'}"> תאורי רשומות {{rows}} קוצצו </p>
</div>