<div class="form-details">
<div class="text-center description-label"><label >9.Description of goods</label></div>

<hot-table #handsontable class="hotTable"
licenseKey="non-commercial-and-evaluation"
 [data]="_data"
[colHeaders]= "true"
[rowHeaders]= "true"
[nestedHeaders]="[
['Tariff item number', 'Origin criteria',{label: 'Description of the goods', colspan: 2}, 'Gross, weight or other measure']]"
 
[columnSorting]= "true"
[contextMenu]= "customContextMenu"
  [columns]= "[
    {data: 'tariffItemNumber'},
    {data: 'originCriteria'},
    {data: 'description.a'},
    {data: 'description.b'},
    {data: 'measure'}
  ]"
  [height]="207"
   [colWidths]="[150,150,345,690,200]"
  ></hot-table>
</div>