
.description-label{
    font-size: x-large;
}
@media print {
    .hotTable{
        ::ng-deep{
            .htCore
       { page-break-inside:auto !important; }}
        ::ng-deep{
         .htCore > tbody > tr {
            font-size: 8px !important;
             page-break-inside:avoid !important; page-break-after:auto !important;
                }
        }
     }
    }
