<div class="background container">
  <div class="layer">
    <mat-card>
      <div
        layout="column"
        layout-align="center center"
        layout-fill="layout-fill"
      >
        <div layout="column" class="loginBox md-whiteframe-z1">
          <mat-toolbar>
            <h2 class="md-toolbar-tools text-center"><span>אפוס סיסמה</span></h2>
          </mat-toolbar>
          <form
            #forgotPasswordForm="ngForm"
            (ngSubmit)="OnSubmit()"
          >
          <mat-form-field>
            <input matInput
            name="email"
            [(ngModel)]="email"
            placeholder="אימייל"
            required type="email"  email/>
            <mat-error *ngIf="email.invalid && email.touched">שדה חובה , אימייל לא חוקי*</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            type="submit"
            class="btn btn-lg btn-block btn-register"
            [disabled]="forgotPasswordForm.invalid"
          >
            איפוס סיסמה
          </button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
