.section{
    border:1px solid #ced4da;
}

.form-control-sm{
    width: 100% !important;
   font-size: 0.700rem !important;
  
}
.form-control{
   font-size: 0.7rem !important;
}
textarea{
    padding-left: 3px !important;
    padding-bottom: 11px !important;
}
label{
  
   font-size: 0.800rem !important;
}