<div class="background container">
  <div class="layer">
    <mat-card>
      <div layout="column" layout-align="center center" layout-fill="layout-fill">
        <div layout="column" class="loginBox md-whiteframe-z1">
          <mat-toolbar>
            <h2 class="md-toolbar-tools text-center"><span>איפוס סיסמה</span></h2>
          </mat-toolbar>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit(resetPasswordForm.value)">
            <mat-form-field>
              <input matInput type="password" class="form-control" name="password" formControlName="password"
                placeholder="סיסמה חדשה" required  pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"/>
              <mat-error *ngIf="
              resetPasswordForm.get('password').invalid &&
              resetPasswordForm.get('password').touched
            ">שדה חובה, סיסמה חיבת להיות באורך 8 תוים ולהכיל ספרות,תוים ואותיות קטנות וגדולות</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" class="form-control" name="confirmPassword"
                formControlName="confirmPassword" placeholder="וידוא סיסמה" required
                pattern="{{ resetPasswordForm.get('password').value }}" />
              <mat-error *ngIf="
                resetPasswordForm.get('confirmPassword').invalid &&
                resetPasswordForm.get('confirmPassword').touched
              ">סיסמה חייבת להיות זהה</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" class="btn btn-lg btn-block btn-register"
              [disabled]="resetPasswordForm.invalid">
              איפוס סיסמה
            </button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>