<mat-toolbar>
  <ul>
    <li class="nav-item dropdown mr-0 username d-inline" dropdown>
      <a
        dropdownToggle
        type="button"
        class="nav-link dropdown-toggle waves-light"
        mdbWavesEffect
      ><mat-icon>person</mat-icon>
        הי,
       {{ appService.user.fullName }}
       </a>
      <div
        *dropdownMenu
        class="dropdown-menu dropdown dropdown-primary text-right"
        role="menu"
      >
        <a
          class="dropdown-item waves-light"
          (click)="onLogout()"
          mdbWavesEffect
          >התנתקות<mat-icon>login</mat-icon></a
        >
      </div>
    </li>
  </ul>
</mat-toolbar>

<div class="text-center not-print">
  <mat-form-field class="form-field">
    <input matInput placeholder="Filter" aria-label="State" [matAutocomplete]="auto" [formControl]="searchFileNo" #txtVal
      (input)="applyFilter(txtVal.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading"> -->
      <mat-option *ngFor="let element of filteredForms" [value]="element.fileNo" (click)="getCertificateForm(element)">
        <span class="text-default">File No.: {{ element.fileNo }}</span> |
        <span class="text-danger">MBL Number: {{ element.mblNumber }} </span> |
        <span class="text-info">Certificate No.: {{ element.certificateNo }}</span>
        <span class="text-black"  *ngIf="element.id!=null&&element.id!=0"> | קיים טופס</span>
      </mat-option>
      <!-- </ng-container> -->
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <ng-container *ngIf="errorMsg">
    {{errorMsg}}
  </ng-container>
</div>
<app-form [data]="data">
</app-form>
<div class="not-print example-button-row">
  <button mat-raised-button color="primary" (click)="sendMail()" [disabled]="disabledSendMail">
    <mat-icon>email</mat-icon>שלח במייל
  </button>
  <button mat-raised-button color="primary" (click)="print()" [disabled]="disabledPrint">
    <mat-icon>print</mat-icon>הדפס
  </button>
  <button mat-raised-button color="primary" class="save-button" (click)="save()" [disabled]="disabledSave">
    <mat-icon>save</mat-icon>שמור
  </button>
</div>
