.example-spacer {
    flex: 1 1 auto;
  }
  button{
    margin: 5px;
    
    font-weight: bold;
}
.example-button-row{
  padding: 7px;
  margin-left: 87px;
}
.mat-form-field{
  width: 40%;
}

.save-button{
  background-color:#4CAF50 !important
}
.text-black{
  color:rgba(0,0,0,.87);
}
.logo{
  width: 200px;
}
