/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media print {
    app-root > * { display: none; }
   app-root app-main { display: block; }
   .not-print {visibility: hidden !important;}
}